@{
    ViewData["Title"] = "FAQ";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-4">
        <p>
            The list of the baseline Functional requirments 1.0 are used in the Self-Assesment and are referenced in links throughout this example
            using the same coloring and mouse hover tool tip as this button.
            <a class="btn btn-bfr" title="Click to see the main page for the guidelines"
               href="https://wiki.idesg.org/wiki/index.php?title=Baseline_Functional_Requirements_v1.0">Baseline Functional Requirements &raquo;</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Redress</h2>

        <p>
            If you believe that this site is not handling your priviate inforamtion the way that you expect, we encourage you to help us get it right
            <a href="https://wiki.idesg.org/wiki/index.php?title=Interop_Req_7" class="btn btn-bfr" title="View the Interop-7 requirement">
                User Redress
            </a>
        </p>
        <p>
            The above is a link to the interoperability requirement.
            <a class="btn btn-default" href="https://wiki.idesg.org/wiki/index.php?title=User_Experience_Guidelines_Metrics">
                UX Guidelines &raquo;
            </a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>Frequently Asked Questions</h2>
        <p>Where you can go to get more information online about how this site functions.</p>

        <p>
            **** some of the stuff on the about page could be moved to the FAQ which is currently empty ****
            <a class="btn btn-default" asp-controller="Home" asp-action="FAQ">FAQ &raquo;</a>
        </p>
    </div>
    <!--
    <div class="col-md-4">
        <h2>Yet another column.</h2>
        <p>***with nothing in it yet***</p>
    </div>-->
</div>